# Dzień 1
## jupyter

* Edycja komórki -- [enter]
* Wyjście z edycji -- [esc]
* Poruszanie się między komórkami -- [strzałki] albo [j] i [k]
* Dodanie komórki powyżej -- [a] // od above
* Dodanie komórki poniżej -- [b] // od below 
* Usunięcie aktualnej komórki -- [dd]
* Zmiana trybu komórki na markdown -- [m]
* Zmiana trybu komórki na code -- [y]
* Zmiana trybu komórki na raw -- [r]
* Uruchomienie komówki -- [ctrl + enter]
* Uruchomienie komórki i przejście do kolejnej linijki [shift + enter]

## Markdown

## Nagłówki
```
# Nagłówek stopnia pierwszego H1
## Nagłówek stopnia drugiego H2
### Nagłówek stopnia trzeciego H3
#### Nagłówek stopnia trzeciego H4
##### Nagłówek stopnia trzeciego H5
###### Nagłówek stopnia szóstego H6
```
# Nagłówek stopnia pierwszego H1
## Nagłówek stopnia drugiego H2
### Nagłówek stopnia trzeciego H3
#### Nagłówek stopnia trzeciego H4
##### Nagłówek stopnia trzeciego H5
###### Nagłówek stopnia szóstego H6

## Listy
```
* element 1
* element 2
* element 3
```
* element 1
* element 2
* element 3

## Inne

| **pogrubienie**            | `**text**`                   |
|----------------------------|------------------------------|
| *pochylony*                | `*text*`                     |
| ~~przekreślony~~           |  `~~text~~`                  |
| [Link do wp](http://wp.pl) | `[Link do wp](http://wp.pl)` |
| `kod w tekście`            | `kod w tekście`          |
| `>Cytat`                   | `> cytat`                    |

```c++
#include <iostream>>
int main()
{
    std::cout<<"Hello world";
}
```

## Latex

W obwodzie elektrycznym składającym się z kondensatora i cewki indukcyjnej energia może być zgromadzona w kondensatorze i cewce:

$U = \frac{1}{2} L i ^ 2 + \frac{1}{2} \frac{q ^ 2}{C}$

```tex
$U = \frac{1}{2} L i ^ 2 + \frac{1}{2} \frac{q ^ 2}{C}$
```

Całkowita energia obwodu będąca sumą obu energii jest stała. Uwzględniając związek między ładunkiem na kondensatorze a natężeniem prądu, równanie na ładunek na kondensatorze można wyrazić: 

$\frac{d^2 q}{d t^2} + \frac{1}{LC} q = 0$ 

```tex
$\frac{d^2 q}{d t^2} + \frac{1}{LC} q = 0$ 
```

itd...

[Źródło](https://pl.wikipedia.org/wiki/Obw%C3%B3d_rezonansowy_LC)

## Wstęp do pythona

### Hello world

In [1]:
print("Hello world")

Hello world

### If-else

In [3]:
x = 42

if x == 42:
    print(x, "to piękna liczba")
else:
    print(x, "nie jest piękna liczbą")

42 to piękna liczba

### Input

In [4]:
x = input()
print(x * 2)

 42

4242

In [9]:
x = input()
print(x * 2)

print(int(x, base = 16) * 2)

 FFF

FFFFFF
8190

In [18]:
3 / 2

1.5

In [14]:
3 // 2

1

In [21]:
type(2**2**2**2**2)

int

In [22]:
a = 11
if a < 20 and a % 2 == 0:
    print('Łódeczka!!!')
else:
    print('Kajaczek!!!')

Kajaczek!!!

In [23]:
a = 11
if a < 20 or a % 2 == 0:
    print('Łódeczka!!!')
else:
    print('Kajaczek!!!')

Łódeczka!!!

### Jednolinijkowy if else

In [24]:
a = 42
x = 10 if a == 43 else 12
print(x)

12

In [9]:
a = 30
print('duzo' if a > 50 else 'malo' if a < 20 else 'srednio')

srednio

### for

In [30]:
print("Ala", "ma", sep='HEHE', end="HAHA")
print("3", "koty")

AlaHEHEmaHAHA3 koty

In [25]:
for i in range(100):
    if i == 4:
        continue
    if i > 12:
        break
    if i % 2 == 0:
        print(i, 'Parzysta', end='&', sep='')
    else:
        print(i, 'Nieparzysta')

0Parzysta&1 Nieparzysta
2Parzysta&3 Nieparzysta
5 Nieparzysta
6Parzysta&7 Nieparzysta
8Parzysta&9 Nieparzysta
10Parzysta&11 Nieparzysta
12Parzysta&

In [31]:
for i in range(0, 20, 5):
    print(i)

0
5
10
15

In [32]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### while

In [34]:
x = 42
while x >= 36:
    print('Duzy iks', x)
    x -= 1

Duzy iks 42
Duzy iks 41
Duzy iks 40
Duzy iks 39
Duzy iks 38
Duzy iks 37
Duzy iks 36

### funkcje

In [39]:
def potega2p3(x):
    return 2 ** x + 3

print(potega2p3(1), potega2p3(4.5))

print(type(potega2p3(3)))
print(type(potega2p3(1.2)))

5 25.627416997969522
<class 'int'>
<class 'float'>

In [40]:
def pota(x, a=2):
    return a**x

print(pota(7), pota(7, 3), pota(7, -1))

128 2187 -1

In [41]:
print(pota(3, a=4))

64

### list

In [42]:
l = ['a', 'b', 'c', 'd'] # albo l = list(...)
print(l)
print('Rozmiar l:', len(l))

['a', 'b', 'c', 'd']
Rozmiar l: 4

In [43]:
l.append('e')
l[1] = 'baba'
print(l)
print('Rozmiar l:', len(l))

['a', 'baba', 'c', 'd', 'e']
Rozmiar l: 5

In [49]:
for i in range(4):
    print(i*i)

0
1
4
9

In [51]:
for bar in l:
    print(bar)

a
baba
c
d
e

In [50]:
for i in range(len(l)):
    print(l[i])

a
baba
c
d
e

In [53]:
print(l[0], l[3])
print(l[-1])
print(l[1:3])
print(l[2:3])
print(l[1:-1])

a d
e
['baba', 'c']
['c']
['baba', 'c', 'd']

In [60]:
"a" in "kota"

True

In [61]:
"a" in ["k", "o", "t", "a"]

True

In [66]:
t = (12, 32, "hej")

In [72]:
for e in t:
    print(e * 2)

24
64
hejhej

In [73]:
t[0] = 42

TypeError: 'tuple' object does not support item assignment

In [75]:
def fun(x):
    return x, x*32

In [76]:
fun(41)

(41, 1312)

In [54]:
?range

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [56]:
range(0, 1.5, 0.5)

TypeError: 'float' object cannot be interpreted as an integer

In [57]:
print(l[5])

IndexError: list index out of range

### set

In [77]:
s = {1, 2, 'q', 'w', 'e'} # s = set()
x = 3
if x not in s:
    print(x, 'nie jest w s')
else:
    print(x, 'jest w s')

3 nie jest w s

In [79]:
s.add((12, 23, 42))

In [80]:
s

{(12, 23, 42), 1, 2, 'e', 'q', 'w'}

In [81]:
print('...................')
for q in s:
    print(q)
print('...................')

...................
1
2
(12, 23, 42)
w
q
e
...................

In [82]:
print(42 in s)
s.add(42)
print(42 in s)

False
True

### tuple

In [83]:
x = (1, 2, 3)
print(x)
print(x[1])
x[2] = 42

(1, 2, 3)
2

TypeError: 'tuple' object does not support item assignment

### dict

In [90]:
d = {
    '1' : 'a', 
    '2' : 'b',
    '3' : 'c'
} # d = dict{}
print(d)

{'1': 'a', '2': 'b', '3': 'c'}

In [91]:
d[1] = 'a'
d[2] = 'b'
d[3] = 'c'
d[4] = 'Wesoly napis'
print(d)

{'1': 'a', '2': 'b', '3': 'c', 1: 'a', 2: 'b', 3: 'c', 4: 'Wesoly napis'}

In [92]:
d[1.0] = 22

In [94]:
print(d[4])

Wesoly napis

In [132]:
dd = dict()

In [133]:
dd[10] = "Siemano"

In [134]:
dd[12] = 3

In [135]:
dd[14] = -22

In [138]:
for e in dd:
    print(e, dd[e])

10 Siemano
12 3
14 -22

In [144]:
12 in dd

True

In [143]:
dd.get(123) is None

True

In [139]:
for e in dd.items():
    print(e)

(10, 'Siemano')
(12, 3)
(14, -22)

In [98]:
d.get("swieta")

In [99]:
print(d.get(5))

None

In [50]:
print(d['2'])

b

In [51]:
for l in d:
    print(l, d.get(l), type(l))

1 a <class 'str'>
2 b <class 'str'>
3 c <class 'str'>
1 a <class 'int'>
2 b <class 'int'>
3 c <class 'int'>
4 Wesoly napis <class 'int'>

In [52]:
for k, v in d.items():
    print(k, v)

1 a
2 b
3 c
1 a
2 b
3 c
4 Wesoly napis

In [114]:
print(d.get(2))
print(d[2])
print(d.get(42))
print(d[42])

b
b
None

KeyError: 42

In [53]:
d

{'1': 'a', '2': 'b', '3': 'c', 1: 'a', 2: 'b', 3: 'c', 4: 'Wesoly napis'}

In [103]:
d.items()

dict_items([('1', 'a'), ('2', 'b'), ('3', 'c'), (1, 22), (2, 'b'), (3, 'c'), (4, 'Wesoly napis')])

In [107]:
3.14e21 / 1923281317

1632626476556.1594

In [104]:
d.keys()

dict_keys(['1', '2', '3', 1, 2, 3, 4])

In [105]:
d.values()

dict_values(['a', 'b', 'c', 22, 'b', 'c', 'Wesoly napis'])

### List comperhension

In [108]:
l = [i for i in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
l = [i*i for i in range(10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [110]:
def moja_funkcja(x):
    return(x*42 + 2)
l = [moja_funkcja(i) for i in range(10)]
print(l)

[2, 44, 86, 128, 170, 212, 254, 296, 338, 380]

### Lambda

In [111]:
f = lambda x: x * 42 + 2
l = [f(i) for i in range(10)]
print(l)

[2, 44, 86, 128, 170, 212, 254, 296, 338, 380]

In [112]:
l = [(lambda x: x * 42 + 2)(i) for i in range(10)]
print(l)

[2, 44, 86, 128, 170, 212, 254, 296, 338, 380]

In [113]:
l = [(lambda x: x * 42 + 2)(i) for i in range(10) if i % 2 == 0]
print(l)

[2, 86, 170, 254, 338]

### Pliki

In [34]:
f = open('input_file.data')

In [35]:
for l in f:
    print(l)

1

2

3

4

5

In [36]:
with open('input_file.data') as f:
    for l in f:
        print(l)

1

2

3

4

5

### Import

In [37]:
import math
print(math.sin(math.pi))

1.2246467991473532e-16

In [38]:
import math as mh
print(mh.sin(mh.pi))

1.2246467991473532e-16

In [39]:
from math import sin, pi
print(sin(pi))

1.2246467991473532e-16

In [40]:
?math

Type:        module
String form: <module 'math' (built-in)>
Docstring:
This module is always available.  It provides access to the
mathematical functions defined by the C standard.

### Klasy

In [41]:
from math import sqrt
class Punkt:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def odleglosc_od_00(self):
        return(sqrt(self.x ** 2 + self.y ** 2))

p1 = Punkt(0, 5)
print(p1.odleglosc_od_00())

5.0

In [42]:
p2 = Punkt(1,1)
odl = p2.odleglosc_od_00()
print(odl, odl ** 2, odl / sqrt(2))

1.4142135623730951 2.0000000000000004 1.0

### Napisy

In [43]:
s1 = "blah"
s2 = 'blah'
print(s1, s2)

blah blah

In [44]:
"""
Entliczek-pentliczek, czerwony stoliczek,
A na tym stoliczku pleciony koszyczek,

W koszyczku jabłuszko, w jabłuszku robaczek,
A na tym robaczku zielony kubraczek.
"""

'\nEntliczek-pentliczek, czerwony stoliczek,\nA na tym stoliczku pleciony koszyczek,\n\nW koszyczku jabłuszko, w jabłuszku robaczek,\nA na tym robaczku zielony kubraczek.\n'

### Inne

In [45]:
1 / 2

0.5

In [46]:
1 // 2

0

In [47]:
a, b = 3, 4
print(a)
print(b)

3
4

In [48]:
(42)

42

In [49]:
(42,)

(42,)

In [6]:
l = ['Ala', 'ma', 'kota', '.']
for w in l:
    print(w)

Ala
ma
kota
.

In [7]:
for e, w in enumerate(l):
    print(e, w)

0 Ala
1 ma
2 kota
3 .

In [8]:
for i in range(len(l)):
    print(l[i])

Ala
ma
kota
.

In [12]:
l2 = l
l2[0] = 'Janek'
l

['Janek', 'ma', 'kota', '.']

In [13]:
import copy

In [2]:
x = 1 + 1j

In [4]:
x, type(x)

((1+1j), complex)

In [54]:
abs(x)

1.4142135623730951